/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


 /* Navbar Styling  */
 @font-face {
	font-family: 'Neco Bold';
	src: url(/public/fonts/Neco-Bold.woff) format("woff");
	font-weight: normal;
  	font-style: normal;
  	font-display: swap;
 }
 @font-face {
	font-family: 'Satoshi';
	src: url(/public/fonts/Satoshi-Medium.woff) format("woff");
	font-weight: normal;
  	font-style: normal;
  	font-display: swap;
 }
 
 *{
   margin:0;
   padding: 0;
   box-sizing: border-box;
 }

 html{
	font-size: 62.5%;
	
 }

h1, h2, h3, h4{
	font-weight: 700;
   	font-family: "Neco Bold", sans-serif;
	/* margin-top: 2.5rem; */
}

 p{
	font-size: 1.6rem;
	font-family: "Satoshi";
	/* margin-bottom: 2.4rem; */
 }

 .logo p{
	margin-bottom: 2.4rem;
 }

 time{
	font-size: 1.6rem;
	font-family: "Satoshi";
 }

 li:not(nav){
	font-size: 1.6rem;
	list-style-position: outside;
	margin-left:2rem;
 }

 ul:not(.menu){
	margin-bottom: 2rem;
 }

 ol{
	margin-bottom: 2rem;
 }
 
 body{
   font-family: "Satoshi", sans-serif;
   background-color: #FEF4E8;
 }
 
 a, a:hover{
   text-decoration: none;
 }
 
 nav{
   background: #FEF4E8;
   padding: 0.7rem 3%;
   display: flex;
   align-items: center;
   border-bottom: 1px solid black;
   position:sticky;
   top: 0;
   margin-left: -3%;
   margin-right: -3%;
   z-index: 100;
 }

 
 nav a{
   color: #1C2520;
 }
 
 nav a:hover{
   color: #86615c;
 }
 
 .logo{
   margin-right: auto;
   display: flex;
   align-items: start;
   flex-direction: column;
   margin-bottom: -1.8rem;
 }
 
 .logo a{
   font-size: 32px;
   color: #1C2520;
   font-weight: 700;
   font-family: "Neco Bold", sans-serif;
   margin-bottom: -.7rem;
 }

 /* Pushes anchor link jumped to below the navbar enough so the navbar doesn't cover the section's heading */
 :target{
	padding-top:100px;
	margin-top: -100px;
 }
 
 .logo a:hover{
   color: #86615c;
 }
 
 .menu{
   display: flex;
   align-items: center;
   list-style: none;
 }
 
 .menu li{
   padding: 15px 10px;
   font-size: 16px;
 }
 
 .toggle{
   font-size: 30px;
   display:none;
   margin-top: -.3rem;
 }
 
 @media screen and (max-width: 600px) {
   nav{
	 display: block;
	 /* position:relative; */
	 padding:5px 20px;
	 position:sticky;
	 top: 0;
   }
   
   .menu{
   margin-top: 15px;
   display:none;
   }

   .menu li{
	padding: 10px 0px;
	font-size: 16px;
  }
 
   .menu.active, .toggle{
	 display: block;
   }
 
   .toggle{
	 position: absolute;
	 top:12px;
	 right:20px;
   }

   .logo a{
	font-size: 2.1rem;
   }

   .logo p{
	font-size: 1.4rem;
	margin-bottom: 2rem;
   }
 
 }







/* Default Astro Styling */

 * {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
	font-family: "Satoshi";
	margin-left: 3%;
	margin-right: 3%;
	padding: 0;
	text-align: left;
	background-color: #ccc;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

/* @media (min-width: px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}
} */










.blogPage{
	max-width: 65ch;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}

a {
	color: #3273dc;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

::selection{
	background:#1b998aaf;
}


/* https://coolors.co/fef4e8-ffe4c4-1c2520-86605b-1b998b */