---

---

<style>
    div.grid_container {
  				display: grid;
  				grid-gap: 1rem;
  				grid-template-areas: 
                    "project1 project2 project2 project2";
			}

            .project1{
                grid-area: project1;
            }

            .project2{
                grid-area: project2;
            }

			.grid_container div {
				display: flex;
                flex-direction: column;
                background: #144E5A;
                border-radius: 4px;
			}

			.grid_container div:last-child {
                padding:4rem;
            }

			section{
                margin-bottom: 10rem;
			}

            .grid_container div img {
                min-height: 100%;
                object-fit: cover;
            }

            h1{
                font-family: "maiola";
                font-size: 4.2rem;
                font-weight: 700;
                padding-bottom: 1rem;
            }

            h2{
                font-family: "maiola";
                color: white;
                font-size: 2.6rem;
                margin-top: -0.5rem;
            }

            p{
                font-family: "Roboto";
                color:white;
                font-size: 1.6rem;
            }

            img{
                border-radius: 4px;
            }

            .description{
                margin-bottom: 0.5rem;
            }

            @media screen and (max-width: 1000px) {
                div.grid_container {
                    margin-bottom: 8rem;
                      grid-template-areas: 
                        "project1"
                        "project2";
                }
            }
</style>

    <section id="about-me-section">
        <h1>About Me</h1>
        <div class="grid_container">
            <div class="project1">
                <img src="me.png">
            </div>
            <div class="project2">
                <!-- <h2>Jason DiPopolo</h2> -->
                <!-- <p>Interaction Designer</p> -->
                <p class="description">Higher education trained in design, 6 years in the industry, and 2 years in UX/UI for SaSS. Experience with uplifting low UX maturity companies. Passionate in creating an environment where user-centered design thrives. Curious, always seeking to be humble in heart, and excited to learn. I'll always look forward to creating selfless experiences together.<br><br>Outside of UX/UI design, I learn to grow as an entrepreneur, leather craftsman, content creator, graphic designer, and philosopher (lover of wisdom) coming to understand how to live. 
                </p>
            </div>
        </div>
    </section>