---

---

<style>
    div.grid_container {
  				display: grid;
  				grid-gap: 1rem;
  				grid-template-areas: 
                    "project1 project2 project2 project2";
			}

            .project1{
                grid-area: project1;

            }

            .project2{
                grid-area: project2;
            }

			.grid_container div {
				display: flex;
                flex-direction: column;
                background: #ffe4c4;
                border-radius: 4px;
			}

			.grid_container div:last-child {
                padding:4rem;
            }

			section{
                margin-bottom: 8rem;
			}

            .grid_container div img {
                min-height: 100%;
                object-fit: cover;
            }

            h1{
                font-family: "Neco Bold";
                font-size: 4.2rem;
                font-weight: 700;
                padding-bottom: 1rem;
            }

            p{
                font-family: "Satoshi";
                color: #1c2520;
                font-size: 1.6rem;
                max-width: 80%;
            }

            img{
                border-radius: 4px;
            }

            .description{
                margin-bottom: 0.5rem;
            }

            a{
                 font-size: 1.6rem;
                 color: #754d18;
            }

            a:hover{
                color: #5f3a09;
                text-decoration: underline;
            }

            @media screen and (max-width: 600px) {
                div.grid_container {
                    margin-bottom: 8rem;
                      grid-template-areas: 
                        "project1"
                        "project2";
                }
                p{
                    max-width: 100%;
                }
            }
</style>

    <section id="about-me-section">
        <h1>About Me</h1>
        <div class="grid_container">
            <div class="project1">
                <img 
                src="/dorianGray-lowRes.avif" 
                alt="Jason DiPopolo smiling, holding a novel"
                srcset="
                /dorianGray-sm.avif 506w,
                /dorianGray-md.avif 770w,
                /dorianGray.avif 960w
                "
                sizes="(min-width: 1340px) 253px, (min-width: 620px) calc(22vw - 37px), 94vw"
                >
            </div>
            <div class="project2">
                <p class="description">Hey! I'm Jason, a UX/UI Designer based in New Jersey. With 6+ years of experience in Design, I'm passionate about user-centered solutions, beautiful web design, and frontend web development. I specialize in UX/UI Design and have had the privilege of working with the US Air Force, Plastik Comb Magazine, and presidential candidate, Andrew Yang's non-profit, Humanity Forward. <br/><br/> When I'm not working, you can find me [Hobbies or Interests]. Let's connect and start a conversation.
                </p>
            </div>
        </div>
    </section>