---

---

<style>
    div.grid_container {
  				display: grid;
  				grid-gap: 1rem;
  				grid-template-areas: 
                    "project1 project2 project2 project2";
			}

            .project1{
                grid-area: project1;
            }

            .project2{
                grid-area: project2;
            }

			.grid_container div {
				display: flex;
                flex-direction: column;
                background: #144E5A;
                border-radius: 4px;
			}

			.grid_container div:last-child {
                padding:4rem;
            }

			section{
                margin-bottom: 10rem;
			}

            .grid_container div img {
                min-height: 100%;
                object-fit: cover;
            }

            h3{
                font-family: "maiola";
                font-size: 2.6rem;
                font-weight: 700;
                padding-bottom: 1rem;
            }

            h4{
                font-family: "maiola";
                color: white;
                font-size: 2.2rem;
            }

            p{
                font-family: "Roboto";
                color:white;
                font-size: 1.6rem;
            }

            img{
                border-radius: 4px;
            }

            .description{
                padding-top: 2.5rem;
            }

            @media screen and (max-width: 1000px) {
                div.grid_container {
                    margin-bottom: 8rem;
                      grid-template-areas: 
                        "project1"
                        "project2";
                }
            }
</style>

<div class="wrapperForCentering">
    <section>
        <h3>About Me</h3>
        <div class="grid_container">
            <div class="project1">
                <img src="https://jasondipopolo.com/wp-content/uploads/2021/05/IMG_2720-1024x671.jpg">
            </div>
            <div class="project2">
                <h4>Jason DiPopolo</h4>
                <p>Interaction Designer</p>
                <p class="description">Why I do what I do? I believe in investing in deep work on myself so that I can be effective and selfless in creating better lives for the people I cherish most. How I do what I do? I do this by upskilling in design, persistence on vision over details, and thankfulness for my team. What I do? I design interfaces for intuitive user experiences.

 
                </p>
            </div>
        </div>
    </section>
</div>