---

---

<style>
    div.grid_container {
  				display: grid;
  				grid-gap: 1rem;
  				grid-template-areas: 
                    "project1 project2 project2 project2";
			}

            .project1{
                grid-area: project1;

            }

            .project2{
                grid-area: project2;
            }

			.grid_container div {
				display: flex;
                flex-direction: column;
                background: #ffe4c4;
                border-radius: 4px;
			}

			.grid_container div:last-child {
                padding:4rem;
            }

			section{
                margin-bottom: 8rem;
			}

            .grid_container div img {
                min-height: 100%;
                object-fit: cover;
            }

            h1{
                font-family: "Neco Bold";
                font-size: 4.2rem;
                font-weight: 700;
                padding-bottom: 1rem;
            }

            p{
                font-family: "Satoshi";
                color: #1c2520;
                font-size: 1.6rem;
                max-width: 80%;
            }

            img{
                border-radius: 4px;
            }

            .description{
                margin-bottom: 0.5rem;
            }

            a{
                 font-size: 1.6rem;
                 color: #754d18;
            }

            a:hover{
                color: #5f3a09;
                text-decoration: underline;
            }

            @media screen and (max-width: 600px) {
                div.grid_container {
                    margin-bottom: 8rem;
                      grid-template-areas: 
                        "project1"
                        "project2";
                }
                p{
                    max-width: 100%;
                }
            }
</style>

    <section id="about-me-section">
        <h1>About Me</h1>
        <div class="grid_container">
            <div class="project1">
                <img 
                src="/dorianGray-lowRes.avif" 
                alt="Jason DiPopolo smiling, holding a novel"
                srcset="
                /dorianGray-sm.avif 506w,
                /dorianGray-md.avif 770w,
                /dorianGray.avif 960w
                "
                sizes="(min-width: 1340px) 253px, (min-width: 620px) calc(22vw - 37px), 94vw"
                >
            </div>
            <div class="project2">
                <p class="description">Higher education trained in design, 6 years in the industry, and 2 years in UX/UI for SaaS. Expertise in supporting internal UX maturity transitions. Passionate in creating an environment where user-centered design thrives. Curious, always seeking to be humble in heart, and excited to learn. I'll always look forward to creating selfless experiences together.<br><br>Outside of UX/UI design, I learn to grow in entrepreneurship, <a href="https://jasondipopolo.notion.site/1e4ec82cd9ca47e4b51452f1be8015af?v=097fad33990c4c0fa19f2c5ba42a9eeb&pvs=4">leather craft</a>, <a href="https://jasondipopolo.notion.site/a55082d1fa7f472192adeb6456973d61?v=30df78fdfafc43c983b65737d9830877&pvs=4">graphic design</a>, my meditation practice and I am continuously fascinated by philosophy, Christianity, and maturing in my own personal ethics. 
                </p>
            </div>
        </div>
    </section>