---

---

<style>

    div.grid_container {
  				display: grid;
  				grid-gap: 1rem;
  				grid-template-areas: 
                    "project1 project2"
                    "project3 project3";
			}

            .project1{
                grid-area: project1;
            }

            .project2{
                grid-area: project2;
            }

            .project3{
                grid-area: project3;
            }

			.grid_container div {
				/* display: flex; */
                /* justify-content: flex-end; */
                /* flex-direction: column; */
                background-color: #666;
                border-radius: 4px;
                max-height: 20rem;
                box-shadow: inset 0px 130px 40px 6px #fff;
                transition: box-shadow 1s;
			}

            .grid_container div:hover{
                box-shadow: inset 0px 100px 80px #888;
                cursor: pointer;
            }

			section{
                margin-bottom: 10rem;
                min-width: 80%;
                max-width: 150rem;
			}

            .grid_container div img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;
                mix-blend-mode: multiply;
            }

            h1{
                font-family: "maiola";
                font-size: 4.2rem;
                font-weight: 700;
                padding-bottom: 1rem;
            }

            h4{
                padding-left: 1rem;
                font-family: "Roboto";
                color: white;
                font-size: 1.6rem;
                margin-top: 7rem;
            }

            p{
                padding-left: 1rem;
                padding-bottom: 1rem;
                font-family: "Roboto";
                color:white;
                font-size: 1.4rem;
                margin-bottom: 0rem;
            }

            .project_title{
                position: relative;
                bottom: 130px;
                pointer-events: none;
            }

            .project_subtitle{
                position: relative;
                bottom: 130px;
                pointer-events: none;
            }

            @media screen and (max-width: 844px) {
                div.grid_container {
  				    display: grid;
                    min-height: 30rem;
                    grid-gap: 1rem;
                    grid-template-areas: 
                        "project1"
                        "project2"
                        "project3";
                    margin-bottom: 12rem;
			    }
                .project1_title{
                    padding-top: 32rem;
                }
            }

</style>

    <section id="works-section">
        <h1>Works</h1>
        <div class="grid_container">
            <div class="project1">
                <a href="https://jasondipopolo.notion.site/Siddhartha-Productivity-App-3e79d8fe310d4da5bf5fb51fb113fef1?pvs=4"><img src="Siddhartha.png"></a>
                <h4 class="project_title">Systematizing Daily Problem-Solving</h4>
                <p class="project_subtitle">UX/UI Project</p>
            </div>
            <div class="project2">
                <a href="https://jasondipopolo.notion.site/Perfect-Mess-Exhibition-Announcement-585afbb8f22449f3beedcd60ff2722bd?pvs=4"><img src="marinGif.gif"></a>
                <h4 class="project_title">Exhibition Announcement for Poster Designer</h4>
                <p class="project_subtitle">Visual Design Project</p>
            </div>
            <div class="project3">
                <a href="https://jasondipopolo.notion.site/New-York-Times-Website-Redesign-31d0120478314bcdb475132206e1d94d?pvs=4"><img src="NYT-Redesign.png"></a>
                <h4 class="project_title">New York Times Redesign</h4>
                <p class="project_subtitle">UX/UI Project</p>
            </div>
        </div>
    </section>
