---

---

<style>
    h1{
        font-family: "maiola";
        font-size: 4.2rem;
    }

    a {
        font-size: 1.6rem;
    }

</style>

<body>
    <section id="contact-section">
        <h1>Let's Talk</h1>
        <!-- <a href="/blog">Blog</a> -->
<p>Get in touch via <a href="mailto:jasondipopolo.kindly665@passmail.net">email</a> or connect with me on <a href="https://www.linkedin.com/in/jasondipopolo/">LinkedIn</a>.</p>

    </section>
</body>
