---

---

<style>
    h1{
        font-family: "maiola";
        font-size: 4.2rem;
    }

    a {
        font-size: 1.6rem;
    }

</style>

<body>
    <section id="contact-section">
        <h1>Let's Talk</h1>
        <a href="/blog">Email</a>
    </section>
</body>