---
const today = new Date();
---

<footer>
	<div>
		<img src="/icon-me.svg" alt="A stylized icon of Jason DiPopolo" style="width:10rem;">
	</div>
	&copy; {today.getFullYear()} Jason DiPopolo. All rights reserved.
</footer>
<style>
	img{
		margin-bottom:4rem;
	}
	footer {
		padding: 4rem;
		margin-top: 12rem;
		text-align: center;
		font-size: 1.4rem;
	}
</style>
