---

---
<!-- LandingPageHero -->


<style>
    section{
        margin-bottom: 8rem;
    }
    
    a{
        color:white;
    }

    .hero {
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  margin:5% 3% 0% 3%;
  background-color: bisque;
}

/* Left side content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Heading styles */
h1 {
  font-size: 6.5rem;
  /* margin-bottom: -1rem; */
  line-height: 6.5rem;
}

/* Button styles */
button {
  padding: 10px 20px;
  background-color: #144E5A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width:15rem;
}

/* Image container styles */
.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Image styles */
img {
  min-width: 105%;
  min-height: 105%;
  border-radius: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .image-container {
    justify-content: center;
  }
  button {
    /* margin-top: 20px; */
    margin-bottom:4rem;
  }
}

    /* div.grid_container {
  				display: grid;
  				grid-gap: 1rem;
  				grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));

                background-color: bisque;
                padding-left:4rem;
                margin-right:4rem;
                border-radius: 8px;
			}

	

            .grid_section_with_img{
                display: grid;
				place-items: center;
            }

			section{
                height: 85vh;

                display: flex;
                flex-direction: column;
                justify-content: center;
			}

            .heroHeader{
                font-size: 7rem;
                line-height: 6rem;
                font-family: "maiola", serif;
                font-weight: 700;
                font-style: normal;
                color:#1C2520;
            }

            .grid_section_with_text{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            p{
                padding-top: 3%;
                padding-right: 3rem;
                font-size: 1.6rem;
                font-family: "Roboto";
            }

            button{
                padding: 1em;
                border-radius: 8px;
                border-style: none;
                font-size: 1.6rem;
                font-family: "Roboto";
                background-color: #144E5A;
                color: white;
                max-width: 30%;
            }

            button:hover{
                background-color: #0d373f;
                cursor: pointer;
            }

            img{
                /* border-radius:50%; */
                /* max-width:120%;
                max-height: 140rem;
                margin-top: -3rem;
                padding-right: 10rem;
            } */


            /* @media screen and (max-width: 775px) {
                .grid_section_with_img{
                    display: none;
                }
                .grid_section_with_text{
                    margin-top: 5rem;
                    margin-bottom: 5rem;
                }
            }

            @media screen and (max-width: 624px) {
                .heroHeader{
                font-size: 5rem;
                line-height: 4.5rem;
                }
            } */ */


</style>

    <section>
        <div class="hero">
            <div class="content">
              <h1>UX/UI Designer</h1>
              <p>Embrace simplicity with a lean UX/UI design approach.</p>
              <button><a href="mailto:jasondipopolo.kindly665@passmail.net">Let's Talk!</a></button>
            </div>
            <div class="image-container">
              <img src="me-in-3d-cutout.png" alt="Image">
            </div>
          </div>
    </section>