---

---
<!-- LandingPageHero -->


<style>
    
    div.grid_container {
  				display: grid;
  				grid-gap: 1rem;
  				grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
			}

	

            .grid_section_with_img{
                display: grid;
				place-items: center;
            }

			section{
                margin-top: 10rem;
				margin-bottom: 15rem;
			}

            .heroHeader{
                font-size: 7rem;
                line-height: 6rem;
                font-family: "maiola", serif;
                font-weight: 700;
                font-style: normal;
                color:#1C2520;
            }

            .grid_section_with_text{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            p{
                padding-top: 4%;
                font-size: 1.6rem;
                font-family: "Roboto";
            }

            button{
                padding: 1em;
                margin-top: 3%;
                border-radius: 8px;
                border-style: none;
                font-size: 1.6rem;
                font-family: "Roboto";
                background-color: #144E5A;
                color: white;
                max-width: 30%;
            }

            button:hover{
                background-color: #0d373f;
                cursor: pointer;
            }

            img{
                border-radius:50%;
                max-width:80%;
                max-height: 35rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }


            @media screen and (max-width: 775px) {
                .grid_section_with_img{
                    display: none;
                }
                .grid_section_with_text{
                    margin-top: 5rem;
                    margin-bottom: 5rem;
                }
                
            }
</style>

<div class="wrapperForCentering">
    <section>
        <div class="grid_container">
            <div class="grid_section_with_text">
                <!-- <img src="https://images.unsplash.com/photo-1547119957-637f8679db1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80"> -->
                <h3 class="heroHeader">Design Meets Philosophy</h3>
                <p>Embrace simplicity with a lean UX/UI design approach.</p>
                <button>Let's Talk</button>
            </div>
            <div class="grid_section_with_img">
                <img src="https://images.unsplash.com/photo-1602064172250-43f8909056c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=957&q=80">
            </div>
        </div>
    </section>
</div>