---

---

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

<style>

    .grid_container {
  				display: flex;
  				flex-wrap: wrap;
                justify-content: center;
  				/* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
			}

            .child{
                flex: 0 1 350px;
            }

			.grid_container div {
				display: flex;
                flex-direction: column;
                /* background: #ddd; */
                z-index: -2;
                align-items: center;

			}

			section{
                margin-bottom:8rem;
			}

            .icon{
                font-size: 4rem;
                color: #1C2520;
                z-index: -1;
            }

            h2{
                font-family: "Neco Bold";
                /* font-weight: 700; */
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }

            p{
                text-align: center;
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: 1.6rem;
            }
            
            @media screen and (max-width: 775px) {
                div.grid_container {
                    margin-bottom: 8rem;
  				    grid-gap: 5rem;
                }
            }

            @media (min-width:775px) and (max-width:1116px){
                .child:last-child{
                    margin-top:3rem;
                }
            }

</style>

    <section>
        <div class="grid_container">
            <div class="child">
                <ion-icon class="icon" name="heart-outline"></ion-icon>
                <h2>User-Centered</h2>
                <p>In large scale and personal projects, I reach out to real users and deploy a variety of user research methods to ensure our design assumptions are as accurate as can be.</p>
            </div>
            <div class="child">
                <ion-icon class="icon" name="eye-outline"></ion-icon>
                <h2>Visual Design</h2>
                <p>My type and image/motion compositions are all founded on hierarchy, grids, readability, findability, brand research, consistency, and of course user research.</p>
            </div>
            <div class="child">
                <ion-icon class="icon" name="code-slash-outline"></ion-icon>
                <h2>Maker Mindset</h2>
                <p>I build design systems, mobile and desktop wireframes and hi-fi designs to front-end development. I deploy websites with Netlify and manage it all through Github.</p>
            </div>
        </div>
    </section>